main {
	display: flex;
	justify-content: center;
	margin: 70px 10px 70px 70px;
	align-items: center;

}

main h2 {
  /* padding-left: 10vh; */
}

a {
  text-decoration: none;
  color: black;
}

.active-tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
}

.active-tab-description {
  width: 800px;
  height: 250px;
  overflow-y: scroll;

}

.active-tab-test {
  width: 800px;
  height: 250px;
  padding: 0 0 10px 10px;
  margin-bottom: 15px;
  /* border: 1px solid rgb(139, 139, 139); */
  border-radius: 20px;
  box-shadow: 5px 8px 11px 3px rgba(208, 208, 208, 0.62);
}


.active-tab-test .text {
  display: none;

}

.active-tab-description .test {
  display: none;

}

@keyframes box {
	0% { 
		opacity: 0; 
		transform: translateY(-50px);
	}
	100% { 
		opacity: 1;
		top: 100%;
	}
}

@keyframes left {
	0% { 
		opacity: 0; 
		transform: translateX(-180px);
	}
	100% { 
		opacity: 1;
		top: 100%;
	}
}

.main-text h2{
	animation: box 1s linear;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 2.5em;
	background: -webkit-linear-gradient(rgb(51, 59, 87), rgb(14, 0, 94));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main-text ul {
	animation: left 1.1s ease-in ;
	font-size: 1.3em;
}

.hero {
	animation: left 1.1s ease-in ;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 2.5em;
	font-size: 72px;
	background: -webkit-linear-gradient(rgb(51, 59, 87), rgb(14, 0, 94));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


   