main {
  /* height: 1500px; */
}

main h2 {
  padding-left: 10vh;
}

a {
  text-decoration: none;
  color: black;
}

.active-tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
}

.active-tab-description {
  width: 800px;
  height: 300px;
  overflow-y: scroll;
}

